nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1.5rem;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF9F9;
}


nav .nav__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}


nav .nav__menu li a {
font-size: 1rem;
}


nav .nav__menu li a:hover {
color: #f54749;
border-bottom: 2px solid #f54749;
}

.signUp-btn {
  cursor: pointer;
}


.hamburger {
    display: none;
    margin-inline-end: 2rem;
    cursor: pointer
}

.hamburger .bar {
    width: 30px;
    height: 2px;
    margin-top: 5px;
    background-color: #000;
    transition: transform 100ms ease-in-out;

}


.hamburger .bar:nth-child(2) {
    transform: translateX(7px)
}

.hamburger .bar:nth-child(3) {
    transform: translateX(14px)
}

nav .nav__menu.active {
    transform: translateY(0);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
  
.hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}
  
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


ul {
    list-style: none;
}


a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

a.active {
    color: #F54749;
    
}

@media screen and (max-width: 1024px) {

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      border-bottom: none;
  }

  nav .Logo {
      margin: 0;
      float: none;
  }

  nav .hamburger {
      display: inline-block;
      position: absolute;
      right: 0;
      margin-inline-end: 2.5rem;
      z-index: 10;
  }
  
 nav .nav__menu {
  display: grid;
  width: 100%;
  height: auto;
  padding-block: 2rem;
  border-radius: 10px;
  text-align: center;
  background-color: inherit;
  transform: translateY(-550%);
  transition: transform 500ms ease;
  z-index: 2;
  position: absolute;
  right: 0rem;
  top: 3rem;
 }
}
