body {
    background-color: #FFF9F9;
    font-family: 'Poppins', sans-serif;
    }

nav {z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF9F9;
  padding: 10px;
  box-sizing: border-box;
  justify-content: flex-end;
  padding-right: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 20px;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

a.home{
    color:#F54749;
    ;
}

.list-container {
  text-align: right;
}

button {
  background-color: #F54749;
  color: #fff;
  border-radius: 32px;
  padding: 10px 32px;
  font-size: 14px;
  border: none;
}

.Logo {
  margin-top: 10px;
  margin-left: 20px;
}

.specialties {
  text-align: center;
  padding: 50px 0;
}

.specialties-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #F54749;
  margin-top: 100px;
}

.specialties-line {
  height: 4px;
  width: 80px;
  background-color: #FFA756;
  margin: 20px auto 0;
  margin-top: -30px;
}

.horizontal_list_1 {
  display: flex;
  flex-direction: row;
}

.horizontal_list_1 li {
  margin-right: 10px;
}

.recentlyordered {
  text-align: left;
  padding: 50px 0;
}

.recentlyordered-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50xpx;
  letter-spacing: 0.02em;
  color: #F54749;
  margin-top: 40px;
  text-align: left;
  margin-left: 80px;
}

.recentlyordered-line {
  height: 4px;
  width: 80px;
  background-color: #FFA756;
  margin: -20px 0 0 0;
  margin-left: 80px;
}

.product-card {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 320px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Align items to the center */

  background-color: rgba(0, 0, 0, 0.3) ;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
}


.product-card:hover .product-overlay {
  transform: translateY(0);
}

.product-info {
  text-align: center;
}

.product-info h3 {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  margin-top: 270px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}


.buy-button {
  background-color: #F54749;
  color: #fff;
  border-radius: 32px;
  padding: 10px 32px;
  font-size: 14px;
  box-shadow: 0px 4px 4px #F4C3C4;
  border: none;
  margin-top: -50px;
  margin-bottom: 20px;
}

.journey {
  text-align: center;
  padding: 0  0;
}

.journey-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #F54749;
  margin-top: 20px;
}

.journey-line {
  height: 4px;
  width: 80px;
  background-color: #FFA756;
  margin: 20px auto 0;
  margin-top: -30px;
}

.whoweare {
  text-align: center;
  padding: 0  0;
}

.whoweare-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #F54749;
  margin-top: 20px;
}

.whoweare-line {
  height: 4px;
  width: 80px;
  background-color: #FFA756;
  margin: 20px auto 0;
  margin-top: -30px;
}

.video-container {
  position: absolute;
  top: 0;
  right: 80px;
  width: 446px;
  height: 251px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 3500px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.youtube-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #000000;
  margin-right: 630px;
  margin-left: 160px;
  margin-top: 40px;
  text-align: left;
}

.app-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF0F0;
  margin: 100px 0;
}

.app-content {
  max-width: 600px;
  margin-right: 50px;
}

.app-content h2 {
  font-size: 49px;
  font-weight: bold;
  margin-bottom: 20px;
}

.app-description {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.app-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.form-group input {
  flex: 1;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.form-group button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #F54749;
  cursor: pointer;
}

.app-text {
  font-size: 14px;
  margin-bottom: 30px;
}

.app-btn {
  display: inline-block;
  background-color: #F54749;
  color: #fff;
  border-radius: 50px;
  padding: 15px 35px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.app-image {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
}

.app-image img {
  width: 100%;
  height: auto;
}

::placeholder {
  font-size: 16px; /* replace with desired font size */
}

.submit_button {
  background-color: #F54749;
  color: #fff;
  border-radius: 32px;
  padding: 10px 32px;
  font-size: 14px;
  border: none;
}

.faq {
  text-align: center;
  padding: 0  0;
}

.faq-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #F54749;
  margin-top: 20px;
}

.faq-line {
  height: 4px;
  width: 80px;
  background-color: #FFA756;
  margin: 20px auto 0;
  margin-top: -10px;
}

/* 1234567890 */
.faq-section {
  background-color: #f2f2f2;
  padding: 50px 0;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
/* Hide the FAQ answers by default */

.faq-answer {
  display: none;
  font-size: 18px;
  margin-top: 10px;
}

/* Show the FAQ answers when the show-answer class is added */
.show-answer {
  display: block;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  width: 400px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  
}
.search-button {
 text-align: center;
 background-color: #F54749;
}

#search-input {
  flex: 1;
  border: none;
  height: 100%;
  text-align: center;
  background-color: transparent;
  margin-right: 10px;
}

.search-input input[type="text"] {
  border: none;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
}