/* Navbar styling */
body {
  background-color: #fff9f9;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #fff9f9;
  overflow: hidden;
  margin-top: 15px;
}

.navbar a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;
  text-decoration: none;
  margin-left: 30px;
}

.navbar a:hover {
  color: red;
  border-bottom: 2px solid #f54749;
}

.navbar a.active {
  color: #f54749;
  border-bottom: 2px solid #f54749;
  margin-left: 240px;
}

.navbar .img {
  margin-right: 20px;
}

button {
  width: 149px;
  height: 40px;
  left: 793.5px;
  top: 24px;
  cursor: pointer;
  background: #f54749;
  border-radius: 32px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  margin-left: 40px;
  color: #ffffff;
}

/* Clear floats after the navbar */
.navbar::after {
  content: "";
  display: table;
  clear: both;
}

/* Code for Hero Section */
.hero-section {
  display: flex;
  margin-top: 20px;
}

.left-half {
  flex-basis: 50%;
  padding: 40px;

  margin-left: 5%;
}

.right-half {
  flex-basis: 50%;
}

.left-half img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 64px;
  /* or 131% */
  margin-top: 10px;
  letter-spacing: 0.01em;

  color: #000000;
}

.hero-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  margin-top: -20px;
  color: #000000;
}

.cta-button {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  cursor: pointer;
  color: #000000;
  margin-left: 10px;
}

.right-half img {
  max-width: 100%;
  height: auto;
}

.hero-section h1 span {
  color: #f54749;
}

.main-button {
  margin-left: 0px;
  cursor: pointer;
}

/* Code for Our Specialties Section */
.container {
  text-align: center;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  /* or 183% */

  letter-spacing: 0.02em;

  color: #f54749;
}

.underline {
  width: 50px;
  height: 5px;
  background-color: #ffa756;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -30px;
}

.product-cards {
  display: flex;
  justify-content: center;
}

.product-card {
  width: 220px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  margin-left: 40px;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  /* identical to box height, or 160% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #f54749;
}

.product-card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: -15px;
  color: #000000;
}

/* Code for Recently Ordered Foods */
.food-section {
  text-align: center;
  margin-top: -50px;
  padding: 40px 0;
}

.container {
  margin-bottom: 30px;
}

.section-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0.02em;

  color: #f54749;
}

.food-cards {
  display: flex;
  justify-content: space-between;
}

.food-card1 {
  background-image: url("Images/kozhukattai.svg");
  background-size: 330px 406px;
  width: 330px;
  height: 406px;
  margin-left: 60px;
  position: relative;
}

.food-card2 {
  background-image: url("Images/Kuzhi\ Paniyaram.svg");
  background-size: 330px 406px;
  width: 330px;
  height: 406px;
  margin-left: -80px;
  position: relative;
}

.food-card3 {
  background-image: url("Images/kesari.svg");
  background-size: 330px 406px;
  width: 330px;
  height: 406px;
  margin-left: -100px;
  margin-right: 30px;
  position: relative;
}

.food-card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #3c3c3c 100%);
  border-radius: 22px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.food-card1:hover::before {
  opacity: 1;
}

.food-card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #3c3c3c 100%);
  border-radius: 22px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.food-card2:hover::before {
  opacity: 1;
}

.food-card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #3c3c3c 100%);
  border-radius: 22px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.food-card3:hover::before {
  opacity: 1;
}
.card-content h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  /* identical to box height */

  text-align: left;
  letter-spacing: 0.02em;

  color: #ffffff;
  margin-left: 20px;
  margin-top: 330px;
}

.card-content p {
  margin-bottom: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;
  margin-left: -210px;
  margin-top: -20px;
  color: #ffffff;
}

.card-content {
  position: relative;
}

/* Code for Our Journey */
.our-journey {
  text-align: center;
}

.our-journey img {
  width: 100%;
  height: auto;
}

/* Code for Partnered Hotels */
.food-card4 {
  background-image: url("Images/ITC\ Grand\ Chola.svg");
  background-size: 330px 406px;
  width: 330px;
  height: 406px;
  margin-left: 60px;
  position: relative;
}

.food-card5 {
  background-image: url("Images/The\ Leela\ Palace.svg");
  background-size: 330px 406px;
  width: 330px;
  height: 406px;
  margin-left: -100px;
  position: relative;
}

.food-card6 {
  background-image: url("Images/Amkita\ Hotel.svg");
  background-size: 330px 406px;
  width: 330px;
  height: 406px;
  margin-left: -100px;
  margin-right: 30px;
  position: relative;
}

.food-card4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #3c3c3c 100%);
  border-radius: 22px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.food-card4:hover::before {
  opacity: 1;
}

.food-card5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #3c3c3c 100%);
  border-radius: 22px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.food-card5:hover::before {
  opacity: 1;
}

.food-card6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, #3c3c3c 100%);
  border-radius: 22px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.food-card6:hover::before {
  opacity: 1;
}
/* Code for Who We are */
.wtitle {
  text-align: center;
}

.video_section {
  display: flex;
}

.video_section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-left: 160px;
}

iframe {
  border-radius: 25px;
  margin-left: 200px;
}

/* Code for Get it on */
.getcontainer {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff0f0;
}

.left-section {
  flex-basis: 70%;
  padding-right: 20px;
}

.right-section {
  flex-basis: 30%;
}

.left-section h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 64px;
  /* or 131% */
  text-align: left;
  color: #000000;
  margin-left: 50px;
}

.left-section h2 span {
  color: #f54749;
}

.left-section p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: left;
  color: #000000;
  margin-left: 50px;
}

.email-container {
  margin-top: 20px;
  position: relative;
  margin-left: 50px;
}

.email-input {
  padding: 10px;
  font-size: 16px;
  width: 395px;
  height: 37px;
  background: #ffffff;
  border-radius: 9px;
  border: none;
}

.email-input:focus {
  box-shadow: 3px 4px 27px rgba(0, 0, 0, 0.25);
  border: none;
}

.submit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: -530px;
  margin-top: 10px;

  background: #f54749;
  border-radius: 9px;
}

.p-text {
  margin-top: 20px;
}

.app-store {
  margin-top: -20px;
  margin-left: 50px;
}

.right-section img {
  width: 100%;
  height: auto;
  left: 0px;
}

/* code for faq section */
.faq {
  margin-bottom: 0;
  border: none;
  padding: 10px;
  position: relative;
  width: 86.75%;
  background: #ffffff;
  box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.14);
  height: auto;
  border-radius: 9px;
  margin-left: 70px;
}

.question {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 40px;
}

.answer {
  display: none;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  margin-left: 40px;
  color: #000000;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.faqtitle p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  margin-top: -30px;
  color: #000000;
}

.faqtitle .underline {
  margin-top: 4px;
}

/* Code for Footer Section */
.footer-container {
  background: #f54749;
  width: 100%;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  text-align: center;
}

.copyright-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.02em;
  color: #ffffff;
}
